
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: radial-gradient(
        circle farthest-side at center, 
        #00b3b3 5%, 
        #000000 95%
    );
}

.checklist{
    border: 2px solid #E2725B;
    width: 40px;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 20px;
}

#newtask{
    position: relative;
    background-color: #E2725B;
    padding: 30px, 20px;
    border-radius: 5px;
}

