
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: radial-gradient(
        circle farthest-side at center, 
        #00b3b3 5%, 
        #000000 95%
    );
}

.checklist{
    border: 2px solid #E2725B;
    width: 40px;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 20px;
}

#newtask{
    position: relative;
    background-color: #E2725B;
    padding: 30px, 20px;
    border-radius: 5px;
}

#newtask input{
    position: relative;
    float: left;
    width: 70%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 6px;
    padding: 12px;
    color: navy;
}

#newtask input:focus{
    outline: none;
    border-color: navy;
}

#newtask button{
    position: relative;
    float: right;
    margin-top: 5px;
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: navy;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
}